body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff9f0;
}

.sidebar {
    width: 210px;
    background-color: orange;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    margin-left: 0;
    overflow-y: auto;
}

.logo {
    width: 100%;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    background-color: #ff8c00;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.main-content {
    margin-left: 230px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 180px;
    }
    .main-content {
        margin-left: 200px;
    }
}

@media screen and (max-width: 576px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }
    .main-content {
        margin-left: 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    flex-basis: 100%;
}

.btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-add {
    background-color: #4CAF50;
    color: white;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-search {
    background-color: #ff6600;
    color: white;
}

.category-list {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.btn-edit, .btn-delete {
    background-color: #2196F3;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.btn-delete {
    background-color: #f44336;
}
