body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}

.sidebar {
    width: 100%;
    max-width: 300px;
    background-color: #ff6600;
    color: white;
    padding: 20px;
    height: 100%;
}

@media (min-width: 768px) {
    .sidebar {
        width: 20%;
        height: 100vh;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        width: 15%;
        height: 100vh;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.menu-list li {
    margin: 15px 0;
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
    background-color: #f0f0f0;
    padding: 20px;
    width: 100%;
    overflow-y: auto;
}

@media (min-width: 1200px) {
    .main-content {
        padding: 60px;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

h1 {
    flex-basis: 100%;
    text-align: center;
    font-size: 2em;
}

.btn-add {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-search {
    background-color: #ccc;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.category-list {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.category-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.btn-edit, .btn-delete {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-delete {
    background-color: #f44336;
}

@media (min-width: 768px) {
    .main-content {
        padding: 40px;
    }
}
.promo-section {
    margin-bottom: 30px;
}

.promo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.promo-item img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 20px;
}

