/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 18, 2024, 8:58:50 PM
    Author     : Luu Chi Khanh-CE181175
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 45%;
    min-width: 500px;
}

.logo img {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    color: #ff6600;
    margin-bottom: 20px;
    font-size: 26px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn {
    width: 100%;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 14px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #e65c00;
}


