<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>Controller.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>Controller.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>Controller.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategoriesServlet</servlet-name>
        <servlet-class>Controller.ListCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPromotionServlet</servlet-name>
        <servlet-class>Controller.ListPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPromotionServlet</servlet-name>
        <servlet-class>Controller.AddPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePromotionServlet</servlet-name>
        <servlet-class>Controller.UpdatePromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <servlet-class>Controller.DeletePromotionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/EditCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/DeleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategoriesServlet</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPromotionServlet</servlet-name>
        <url-pattern>/Promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPromotionServlet</servlet-name>
        <url-pattern>/AddPromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePromotionServlet</servlet-name>
        <url-pattern>/UpdatePromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <url-pattern>/DeletePromotionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
